In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
#counting Number of Schools, Population of District and Total Budget
school_count = school_data["school_name"].count()
student_pop = school_data["size"].sum()
total_budget = school_data["budget"].sum()

In [4]:
#Districtwide Student Stats
scores = student_data[["Student ID","school_name","reading_score","math_score"]]

avg_math_score = scores["math_score"].mean()

avg_read_score = scores["reading_score"].mean()

overall_avg_score = (avg_math_score + avg_read_score)/2

In [5]:
#Districtwide Math and Reading Passing Rates

passing_math = scores.loc[scores["math_score"] >= 70]
pct_pass_math = len(passing_math)/student_pop * 100

passing_read = scores.loc[scores["reading_score"] >= 70]
pct_pass_read = len(passing_read)/student_pop * 100

In [6]:
#Creating a summary chart for the district.

district_sum = pd.DataFrame({"Total Schools" : [school_count],
                             "Total Students" : student_pop,
                             "Total Budget" : total_budget,
                             "Average Math Score" : avg_math_score,
                             "Average Reading Score" : avg_read_score,
                             "Pct. Pass Math" : pct_pass_math,
                             "Pct. Pass Reading" : pct_pass_read,
                             "Pct. Overall Passing Rate" : overall_avg_score})

district_sum['Total Students'] = district_sum["Total Students"].map('{:,.0f}'.format)
district_sum["Total Budget"] = district_sum["Total Budget"].map('${:,.0f}'.format)
district_sum["Average Math Score"] = district_sum["Average Math Score"].map('{:,.2f}'.format)
district_sum["Average Reading Score"] = district_sum["Average Reading Score"].map('{:,.2f}'.format)
district_sum["Pct. Pass Math"] = district_sum["Pct. Pass Math"].map('{:,.2f}'.format)
district_sum["Pct. Pass Reading"] = district_sum["Pct. Pass Reading"].map('{:,.2f}'.format)
district_sum["Pct. Overall Passing Rate"] = district_sum["Pct. Overall Passing Rate"].map('{:,.2f}'.format)

district_sum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Pct. Pass Math,Pct. Pass Reading,Pct. Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.43

In [7]:
#Getting information ready to look at stats by school level

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_index = school_data.set_index('school_name')
school_type = school_index['type']
school_size = school_index['size']
school_budget = school_index['budget']

In [8]:
#calculating school budget and school budget per student

budget_per_student = (school_budget/school_size)

school_budget = school_budget.map('${:,.2f}'.format)
budget_per_student = budget_per_student.map('${:,.2f}'.format)

In [9]:
#Calculating average math and reading scores per school

school_scores = school_data_complete.groupby(['school_name'])

school_avg_math = school_scores["math_score"].mean()
school_avg_read = school_scores["reading_score"].mean()

school_avg_math = school_avg_math.map('{:.2f}'.format)
school_avg_read = school_avg_read.map('{:.2f}'.format)

In [10]:
#Calculating passing rates for math, reading and overall by school

sch_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
sch_group_by_math = sch_passing_math.groupby(['school_name']).agg('count')
sch_pct_pass_math = (sch_group_by_math)['math_score']/school_size * 100

sch_passing_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
sch_group_by_read = sch_passing_read.groupby(['school_name']).agg("count")
sch_pct_pass_read = (sch_group_by_read)['reading_score']/school_size * 100

sch_overall_pass_rate = (sch_pct_pass_math + sch_pct_pass_read)/2

school_size = school_size.map('{:,.0f}'.format)
sch_pct_pass_math = sch_pct_pass_math.map('{:.2f}'.format)
sch_pct_pass_read = sch_pct_pass_read.map('{:.2f}'.format)
sch_overall_pass_rate = sch_overall_pass_rate.map('{:.2f}'.format)

In [11]:
#Creating a table by school with information caluclated and tabulated above.

school_sum = pd.DataFrame({"School Type" : school_type,
                           "Total School Size" : school_size,
                           "Total School Budget" : school_budget,
                           "Budget Per Student" : budget_per_student,
                           "Average Math Schore" : school_avg_math,
                           "Average Reading Score" : school_avg_read,
                           "% Passing Math" : sch_pct_pass_math,
                           "% Passing Reading" : sch_pct_pass_read,
                           "Overall Passing Rate" : sch_overall_pass_rate
                           }
)

school_sum['Total School Budget'] = school_sum['Total School Budget']
school_sum

,School Type,Total School Size,Total School Budget,Budget Per Student,Average Math Schore,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.59
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.80
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.27
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,94.38
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.29
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.20
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,94.97

In [12]:
#Finding the five schools with the highest overall passing rate. Congratulations Cabrera High!
High5_Schools = school_sum.sort_values("Overall Passing Rate",ascending = False)
High5_Schools.head(n=5)

,School Type,Total School Size,Total School Budget,Budget Per Student,Average Math Schore,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.59
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.27
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.27
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.20

In [13]:
#Finding the five schools with the lowest overall passing rate. Need some work there Rodriguez.
Low5_Schools = school_sum.sort_values("Overall Passing Rate")
Low5_Schools.head(n=5)

,School Type,Total School Size,Total School Budget,Budget Per Student,Average Math Schore,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.29
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.64
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.80

In [14]:
#identifying average math scores by school grade and campus.

ninth_gr = student_data.loc[student_data['grade']=='9th'].groupby('school_name')
tenth_gr = student_data.loc[student_data['grade']=='10th'].groupby('school_name')
eleventh_gr = student_data.loc[student_data['grade']=='11th'].groupby('school_name')
twelfth_gr = student_data.loc[student_data['grade']=='12th'].groupby('school_name')

math_ninth_by_school = ninth_gr['math_score'].mean().map('{:,.2f}'.format)
math_tenth_by_school = tenth_gr['math_score'].mean().map('{:,.2f}'.format)
math_eleventh_by_school = eleventh_gr['math_score'].mean().map('{:,.2f}'.format)
math_twelfth_by_school = twelfth_gr['math_score'].mean().map('{:,.2f}'.format)

math_summary_by_school = pd.DataFrame({"9th Grade" : math_ninth_by_school,
                                       "10th Grade" : math_tenth_by_school,
                                       "11th Grade" : math_eleventh_by_school,
                                       "12th Grade" : math_twelfth_by_school})
math_summary_by_school

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School        77.08      77.00      77.52      76.49
Cabrera High School       83.09      83.15      82.77      83.28
Figueroa High School      76.40      76.54      76.88      77.15
Ford High School          77.36      77.67      76.92      76.18
Griffin High School       82.04      84.23      83.84      83.36
Hernandez High School     77.44      77.34      77.14      77.19
Holden High School        83.79      83.43      85.00      82.86
Huang High School         77.03      75.91      76.45      77.23
Johnson High School       77.19      76.69      77.49      76.86
Pena High School          83.63      83.37      84.33      84.12
Rodriguez High School     76.86      76.61      76.40      77.69
Shelton High School       83.42      82.92      83.38      83.78
Thomas High School        83.59      83.09      83.50      83.50
Wilson High School        83.09      83.72      83.20      83.04
Wright High School        83.26      84.01      83.84      83.64

In [15]:
#Calculating average reading score by school grade and campus.

read_ninth_by_school = ninth_gr['reading_score'].mean().map('{:,.2f}'.format)
read_tenth_by_school = tenth_gr['reading_score'].mean().map('{:,.2f}'.format)
read_eleventh_by_school = eleventh_gr['reading_score'].mean().map('{:,.2f}'.format)
read_twelfth_by_school = twelfth_gr['reading_score'].mean().map('{:,.2f}'.format)

read_summary_by_school = pd.DataFrame({"9th Grade" : read_ninth_by_school,
                                       "10th Grade" : read_tenth_by_school,
                                       "11th Grade" : read_eleventh_by_school,
                                       "12th Grade" : read_twelfth_by_school})
read_summary_by_school

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School        81.30      80.91      80.95      80.91
Cabrera High School       83.68      84.25      83.79      84.29
Figueroa High School      81.20      81.41      80.64      81.38
Ford High School          80.63      81.26      80.40      80.66
Griffin High School       83.37      83.71      84.29      84.01
Hernandez High School     80.87      80.66      81.40      80.86
Holden High School        83.68      83.32      83.82      84.70
Huang High School         81.29      81.51      81.42      80.31
Johnson High School       81.26      80.77      80.62      81.23
Pena High School          83.81      83.61      84.34      84.59
Rodriguez High School     80.99      80.63      80.86      80.38
Shelton High School       84.12      83.44      84.37      82.78
Thomas High School        83.73      84.25      83.59      83.83
Wilson High School        83.94      84.02      83.76      84.32
Wright High School        83.83      83.81      84.16      84.07

In [16]:
#setting budget per student bins and merging information back into complete student level database.
#Budget per student bins are: >$600, $600 - $624, $625 - $649, and $650+

budget_bins = [0,600,625,650,675]
budget_range = ['<$600','$600-$624','$625-$649','$650+']

b1  = budget_per_student.str.replace('$','')
b1 = b1.astype(float)

b1 = pd.cut(b1,budget_bins,labels = budget_range)
b2 = pd.DataFrame({"Budget Per Student(Range)" : b1})
b2 = pd.DataFrame.reset_index(b2)
budget_range_merge = pd.merge(school_data_complete,b2,on="school_name")

In [17]:
#Looking at budget per student bins average reading and math scores

budget_scores = budget_range_merge.groupby(['Budget Per Student(Range)'])


budget_avg_math = budget_scores["math_score"].mean()
budget_avg_read = budget_scores["reading_score"].mean()

budget_avg_math = budget_avg_math.map('{:.2f}'.format)
budget_avg_read = budget_avg_read.map('{:.2f}'.format)

In [18]:
#calculating budge per student bins passing rates for math, reading and overall

budget_range_size = budget_range_merge["Budget Per Student(Range)"].value_counts()
bud_passing_math = budget_range_merge.loc[budget_range_merge["math_score"] >= 70]
bud_group_by_math = bud_passing_math.groupby(['Budget Per Student(Range)']).agg('count')
bud_pct_pass_math = (bud_group_by_math)['math_score']/budget_range_size * 100

bud_passing_read = budget_range_merge.loc[budget_range_merge["reading_score"] >= 70]
bud_group_by_read = bud_passing_read.groupby(['Budget Per Student(Range)']).agg("count")
bud_pct_pass_read = (bud_group_by_read)['reading_score']/budget_range_size * 100

bud_overall_pass_rate = (bud_pct_pass_math + bud_pct_pass_read)/2

bud_pct_pass_math = bud_pct_pass_math.map('{:.2f}'.format)
bud_pct_pass_read = bud_pct_pass_read.map('{:.2f}'.format)
bud_overall_pass_rate = bud_overall_pass_rate.map('{:.2f}'.format)

In [19]:
#Creating a dataframe for budget per student bins

budget_range_sum = pd.DataFrame({"Average Math Score" : budget_avg_math,
                                 "Average Reading Score" : budget_avg_read,
                                 "Pct Passed Math" : bud_pct_pass_math,
                                 "Pct Passed Reading" : bud_pct_pass_read,
                                 "Pct. Overall Passing Rate": bud_overall_pass_rate})
budget_range_sum

,Average Math Score,Average Reading Score,Pct Passed Math,Pct Passed Reading,Pct. Overall Passing Rate
<$600,83.36,83.91,93.74,96.51,95.12
$600-$624,83.54,83.91,93.87,96.67,95.27
$625-$649,77.47,81.16,68.66,82.13,75.40
$650+,77.03,81.03,66.34,81.04,73.69

In [20]:
#Creating school size bins and merging dataset back into complete student level database.
# School size bins are: Small (0-1800 students), Medium (1800-3600 students), and Large (3600+ students)
school_bins = [0,1800,3600,5400]
school_range = ["Small School","Medium School","Large School"]
school_size = school_index["size"]

s1 = pd.cut(school_size,school_bins,labels = school_range)
s2 = pd.DataFrame({"School Size (Range)" : s1})
s2 = pd.DataFrame.reset_index(s2)
school_size_merge = pd.merge(school_data_complete,s2,on="school_name")

In [21]:
#Looking at average reading and math scores by school size bins

school_size_scores = school_size_merge.groupby(['School Size (Range)'])

ssize_avg_math = school_size_scores["math_score"].mean()
ssize_avg_read = school_size_scores["reading_score"].mean()

ssize_avg_math = ssize_avg_math.map('{:.2f}'.format)
ssize_avg_read = ssize_avg_read.map('{:.2f}'.format)

In [22]:
#Calculating passing rates for math, reading and overall by school size bins

ssize_range_size = school_size_merge["School Size (Range)"].value_counts()
ssize_passing_math = school_size_merge.loc[school_size_merge["math_score"] >= 70]
ssize_group_by_math = ssize_passing_math.groupby(['School Size (Range)']).agg('count')
ssize_pct_pass_math = (ssize_group_by_math)['math_score']/ssize_range_size * 100

ssize_passing_read = school_size_merge.loc[school_size_merge["reading_score"] >= 70]
ssize_group_by_read = ssize_passing_read.groupby(['School Size (Range)']).agg("count")
ssize_pct_pass_read = (ssize_group_by_read)['reading_score']/ssize_range_size * 100

ssize_overall_pass_rate = (ssize_pct_pass_math + ssize_pct_pass_read)/2

ssize_pct_pass_math = ssize_pct_pass_math.map('{:.2f}'.format)
ssize_pct_pass_read = ssize_pct_pass_read.map('{:.2f}'.format)
ssize_overall_pass_rate = ssize_overall_pass_rate.map('{:.2f}'.format)

In [23]:
#Creating a dataframe for school size bins
ssize_range_sum = pd.DataFrame({"Average Math Score" : ssize_avg_math,
                                 "Average Reading Score" : ssize_avg_read,
                                 "Pct Passed Math" : ssize_pct_pass_math,
                                 "Pct Passed Reading" : ssize_pct_pass_read,
                                 "Pct. Overall Passing Rate": ssize_overall_pass_rate})
ssize_range_sum

,Average Math Score,Average Reading Score,Pct Passed Math,Pct Passed Reading,Pct. Overall Passing Rate
Small School,83.52,83.86,93.56,96.59,95.07
Medium School,78.88,81.99,75.51,85.77,80.64
Large School,77.07,80.93,66.47,81.11,73.79

In [24]:
#Finding the average math and reading score by type of school: charter or district.
type_scores = school_data_complete.groupby(['type'])


type_avg_math = type_scores["math_score"].mean()
type_avg_read = type_scores["reading_score"].mean()

type_avg_math = type_avg_math.map('{:.2f}'.format)
type_avg_read = type_avg_read.map('{:.2f}'.format)

In [25]:
#Calculating passing rates for math, reading and overall by school type

type_size = school_data_complete["type"].value_counts()
type_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
type_group_by_math = type_passing_math.groupby(['type']).agg('count')
type_pct_pass_math = (type_group_by_math)['math_score']/type_size * 100

type_passing_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
type_group_by_read = type_passing_read.groupby(['type']).agg("count")
type_pct_pass_read = (type_group_by_read)['reading_score']/type_size * 100

type_overall_pass_rate = (type_pct_pass_math + type_pct_pass_read)/2

type_pct_pass_math = type_pct_pass_math.map('{:.2f}'.format)
type_pct_pass_read = type_pct_pass_read.map('{:.2f}'.format)
type_overall_pass_rate = type_overall_pass_rate.map('{:.2f}'.format)

In [26]:
#Creating dataframes for information related to school type.

type_sum = pd.DataFrame({"Average Math Score" : type_avg_math,
                         "Average Reading Score" : type_avg_read,
                         "Pct Passed Math" : type_pct_pass_math,
                         "Pct Passed Reading" : type_pct_pass_read,
                         "Pct. Overall Passing Rate": type_overall_pass_rate})
type_sum

,Average Math Score,Average Reading Score,Pct Passed Math,Pct Passed Reading,Pct. Overall Passing Rate
type,,,,,
Charter,83.41,83.90,93.70,96.65,95.17
District,76.99,80.96,66.52,80.91,73.71